# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/nback_game

# Better Auth
# Сгенерируйте секрет: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
BETTER_AUTH_SECRET=57cf1371086d006ec0fb4941dc049a0c10c245a09217ce6cc03c6cbd0b03cb5e
BETTER_AUTH_URL=https://nback-arena.vercel.app/

# Game Settings
DEFAULT_N_VALUE=2
DEFAULT_STIMULUS_INTERVAL=1500
MAX_STIMULUS_SPEED=500
